<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @taco.name %>
</p>

<p>
  <strong>Ingredients:</strong>
  <%= @taco.ingredients %>
</p>

<%= link_to 'Edit', edit_taco_path(@taco) %> |
<%= link_to 'Back', tacos_path %>
