<h1> 👽 </h1>


<p>Namine :<%= @alien.name %></p>
<p>desc :<%= @alien.description %></p>
<p>how weird they are :<%= @alien.legs %></p>
<p>from :<%= @alien.planet %></p>
<p>DANGEROUS :<%= @alien.eats_humans %></p>
