<h1>Profile Page for <%= @user.username %></h1>

<h3><%= flash[:notice] %></h3>

<%= image_tag @user.profile_photo %>

<% if session[:user_id] == @user.id %>
  <%= button_to "Delete Account", @user, method: :delete, data: { confirm: "you sure tho? Lolzz" } %>
  <%= button_to "logout", logout_path, method: :delete, data: { confirm: " Lolzz log out confirmation" } %>
<% end %>
